﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companies API</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color: #ededed">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #41005b">
        @Html.ActionLink("Companies", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>&nbsp;&nbsp;&nbsp;</li>
                <li>
                    @using (Html.BeginForm("Search", "Home", FormMethod.Post,
                        new { @class = "form-inline my-2 my-lg-0" }))
                    {
                        <input class="form-control mr-sm-2" type="search" name="searchBox" id="searchBox"
                               placeholder="Search by ISIN" aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                    }
                </li>
            </ul>
            @using (Html.BeginForm("Authenticate", "Account", FormMethod.Get,
                new { @class = "form-inline my-2 my-lg-0" }))
            {
                <button class="btn btn-outline-primary my-2 my-sm-0">
                    @ViewBag.LoginButton
                </button>
            }
        </div>
    </nav>

    <div class="container body-content">
        <hr />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Company API</p>
        </footer>
    </div>

    @if (@ViewBag.ErrorMessage != null)
    {
        <div class="modal" id="modaldialog" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-danger">Error</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Error code: <b>@ViewBag.ErrorMessage.ErrorCode</b></p>
                        <p>@ViewBag.ErrorMessage.Message</p>
                        <p>@ViewBag.ErrorMessage.ExceptionTrace</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
            var errorMessage = '@ViewBag.ErrorMessage';
            if (errorMessage.length > 0) {
                $('#modaldialog').modal('toggle')
            }
    </script>
</body>
</html>
