﻿@model CompanyWebClient.Models.CompanyModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.Title</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-row align-items-center">
        <div class="form-group col-2">
            <div class="form-row">
                @Html.LabelFor(model => model.Name,
               htmlAttributes: new { @class = "control-label col-auto" })
                <div class="col-auto" style="color:red; font-weight:bold">*</div>
            </div>
        </div>
        <div class="form-group col-5">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control col-auto" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row align-items-center">
        <div class="form-group col-2">
            <div class="form-row">
                @Html.LabelFor(model => model.Isin,
               htmlAttributes: new { @class = "control-label col-auto" })
                <div class="col-auto" style="color:red; font-weight:bold">*</div>
            </div>
        </div>
        <div class="form-group col-5">
            @Html.EditorFor(model => model.Isin, new { htmlAttributes = new { @class = "form-control col-auto" } })
            @Html.ValidationMessageFor(model => model.Isin, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row align-items-center">
        <div class="form-group col-2">
            <div class="form-row">
                @Html.LabelFor(model => model.Exchange,
               htmlAttributes: new { @class = "control-label col-auto" })
                <div class="col-auto" style="color:red; font-weight:bold">*</div>
            </div>
        </div>
        <div class="form-group col-5">
            @Html.EditorFor(model => model.Exchange, new { htmlAttributes = new { @class = "form-control col-auto" } })
            @Html.ValidationMessageFor(model => model.Exchange, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row align-items-center">
        <div class="form-group col-2">
            <div class="form-row">
                @Html.LabelFor(model => model.StockTicker,
               htmlAttributes: new { @class = "control-label col-auto" })
                <div class="col-auto" style="color:red; font-weight:bold">*</div>
            </div>
        </div>
        <div class="form-group col-5">
            @Html.EditorFor(model => model.StockTicker, new { htmlAttributes = new { @class = "form-control col-auto" } })
            @Html.ValidationMessageFor(model => model.StockTicker, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row align-items-center">
        <div class="form-group col-2">
            <div class="form-row">
                @Html.LabelFor(model => model.WebSite, htmlAttributes: new { @class = "control-label col-auto" })
            </div>
        </div>
        <div class="form-group col-5">
            @Html.EditorFor(model => model.WebSite, new { htmlAttributes = new { @class = "form-control col-auto" } })
            @Html.ValidationMessageFor(model => model.WebSite, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />

    @if (Model.DataObject != null)
    {
        <div class="form-row align-items-center">
            <div class="form-group col-2">
                <input type="submit" value="@ViewBag.SubmitTitle" class="btn btn-success" />
            </div>
        </div>
    }
</div>
}
