﻿@model List<CompanyWebClient.Models.CompanyModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@ViewBag.Search == false && @ViewBag.Auth == true)
{
<p>
    @Html.ActionLink("Create New", "Details")
</p>
}
@if (Model.Count > 0)
{
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Isin)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FirstOrDefault().StockTicker)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Exchange)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FirstOrDefault().WebSite)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @if (@ViewBag.Auth == true)
                {
                    @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Name)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockTicker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exchange)
            </td>
            <td>
                @if (item.WebSite != "")
                {
                    <a href="@Html.DisplayFor(modelItem => item.WebSite)" target="_blank">Website</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
}