﻿@model CompanyWebClient.Models.LoginModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Type your user name and password</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-row align-items-center">
        <div class="form-group col-2">
            <div class="form-row">
                @Html.LabelFor(model => model.Login,
               htmlAttributes: new { @class = "control-label col-auto" })
                <div class="col-auto" style="color:red; font-weight:bold">*</div>
            </div>
        </div>
        <div class="form-group col-5">
            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control col-auto" } })
            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row align-items-center">
        <div class="form-group col-2">
            <div class="form-row">
                @Html.LabelFor(model => model.Password,
               htmlAttributes: new { @class = "control-label col-auto" })
                <div class="col-auto" style="color:red; font-weight:bold">*</div>
            </div>
        </div>
        <div class="form-group col-5">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control col-auto" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />

    @if (Model.DataObject != null)
    {
        <div class="form-row align-items-center">
            <div class="form-group col-2">
                <input type="submit" value="Log in" class="btn btn-success" />
            </div>
        </div>
    }
</div>
}
